name: Multiples Job

on:
    push 

jobs: 
    Build:
        runs-on: ubuntu-latest
        steps:
          - name: Install Cowsay
            run: apt install cowsay -y

          - name: Executer Cowsay 
            run: cowsay -f dragon "Run for cover, I'am a DRAGON.." >> dragon.txt

          - name: Sleep for 30 secondes
            run: sleep 30


    Test:
        runs-on: ubuntu-latest
        steps:

        - name: Sleep for 30 secondes
          run: sleep 30

        - name: Test File exists
          run: grep -i "dragon" dragon.txt
    
    Deploy:
        runs-on: ubuntu-latest
        steps:
          
          - name: Read file
            run: cat dragon.txt

          - name: Deploy
            run: echo Deploying.......